:root {
  --accent: #00a6fb;
  --bg: #d6f1ff;
  --font: "Montserrat", sans-serif;
}

body {
  font-family: var(--font);
  background: #f5faff;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 700px;
  background: white;
  margin: 40px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px #dceeff;
}

h1 {
  text-align: center;
  color: #0077c2;
  font-size: 28px;
  margin-bottom: 30px;
  font-family: var(--font);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
  color: #333;
  font-family: var(--font);
}

input[type="text"],
input[type="number"] {
  background-color: var(--bg);
  border-radius: 10px;
  outline: 2px solid var(--accent);
  outline-offset: 3px;
  font-family: var(--font);
  padding: 10px 12.5px;
  border: none;
  width: 100%;
  margin-bottom: 15px;
  font-size: 1rem;
  height: 45px;
  box-sizing: border-box;
}

select {
  background-color: var(--bg);
  border-radius: 10px;
  border: 2px solid var(--accent);
  font-family: var(--font);
  padding: 10px 12.5px;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 15px;
  appearance: none;
  outline: none;
  height: 45px;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23007acc' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.03 2.322 4 3.204 4h9.592c.882 0 1.319 1.03.753 1.658L8.753 11.14a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
}

input[type="text"]:hover,
input[type="number"]:hover,
select:hover {
  background: #fff;
}

input[type="checkbox"] {
  transform: scale(1.2);
  accent-color: #ff69b4;
  margin-right: 10px;
  margin-bottom: 15px;
}

button {
  font-family: var(--font);
  padding: 12px 25px;
  background: linear-gradient(to right, #00a6fb, #0077c2);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background: linear-gradient(to right, #0077c2, #00a6fb);
}

.oculto {
  display: none !important;
}

