:root {
  --accent: #00a6fb;
  --bg: #d6f1ff;
  --font: "Montserrat", sans-serif;
}

body {
  font-family: var(--font);
  background: #f5faff;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 700px;
  background: white;
  margin: 40px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px #dceeff;
}

h1 {
  text-align: center;
  color: #0077c2;
  font-size: 28px;
  margin-bottom: 30px;
  font-family: var(--font);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: normal; /* Cambiado de 600 a normal */
  color: #333;
  font-family: var(--font);
}

input[type="text"],
input[type="number"],
select {
  background-color: var(--bg);
  border-radius: 10px;
  outline: 2px solid var(--accent);
  outline-offset: 3px;
  font-family: var(--font);
  padding: 10px 12.5px;
  border: none;
  width: 100%;
  margin-bottom: 15px;
  transition: all 0.2s ease;
}

input[type="text"]:hover,
input[type="number"]:hover,
select:hover {
  background: #fff;
}

input[type="checkbox"] {
  transform: scale(1.2);
  accent-color: #ff69b4;
  margin-right: 10px;
  margin-bottom: 15px;
}

button {
  font-family: var(--font);
  padding: 12px 25px;
  background: linear-gradient(to right, #00a6fb, #0077c2);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background: linear-gradient(to right, #0077c2, #00a6fb);
}
.oculto {
  display: none !important;
}

